<footer class="footer-onyx footer-onyx_box">
    <p class="footer-onyx_copyright footer-onyx_text">&copy; 2017&nbsp;Newell Brands, All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a class="footer-onyx_link" href="http://www.newellbrands.com/Pages/Legal.aspx"
            target="_blank">Legal</a>&nbsp;&nbsp;|&nbsp;&nbsp;Current <span id="spVersion" />
    </p>
</footer>