<div id="deliverables">
    <section class="">
        <article class=" banner banner_position">
            <div class="banner_header banner__gen-bg">
                <div class="banner_box">
                    <h1 class="banner_title">
                        <a class="banner_link">Project Phases &amp; Deliverables</a>
                    </h1>
                    <p class="banner_description text-body__normal">Our process evolves in a continuum pattern and in order for you to easily keep track of each project
                        steps, we divided our process into five phases, each with specific deliverables</p>
                </div>
            </div>
        </article>
    </section>
    <section class="content-block">
        <article class="theme_white">
            <section class="row-large">
                <article class="col col-mxs-12 col-dsm-6 margin-stack_l hidden-msm">
                    <img src="assets/image/project-phases.png">
                </article>

                <article class="col col-dsm-6 easy-list">
                    <h2 class="text-heading-2 text-heading-2__light">Phase 1 - Discovery</h2>
                    <section class="divider">
                        <h3 class="text-heading-3 text-heading-3__light">A-Project Planning</h3>
                        <!-- <h4 class="text-heading-4 text-heading-4__light">Business Case</h4> -->
                        <ul class="unordered-list-default">
                            <li>Business Case - Requirement Documents (B&amp;D)</li>
                        </ul>
                        <!-- <h4 class="text-heading-4 text-heading-4__light">Team Options</h4> -->
                        <ul class="unordered-list-default">
                            <li>Resources Recommendation</li>
                        </ul>
                        <h3 class="text-heading-3 text-heading-3__light">B-Research</h3>
                        <!-- <h4 class="text-heading-4 text-heading-4__light">User Research</h4> -->
                        <ul class="unordered-list-default">
                            <li>User Journey</li>
                        </ul>
                        <!--  <h4 class="text-heading-4 text-heading-4__light">Resourcing/Budget</h4> -->
                        <ul class="unordered-list-default">
                            <li>Delivery</li>
                        </ul>
                        <!-- <h4 class="text-heading-4 text-heading-4__light">Content Inventory</h4> -->
                        <ul class="unordered-list-default">
                            <li>Site Diagram</li>
                        </ul>
                        <!--  <h4 class="text-heading-4 text-heading-4__light">Current Application Evaluation</h4> -->
                        <ul class="unordered-list-default ">
                            <li>Delivery - Current Application Evaluation</li>
                        </ul>
                    </section>

                    <!--<h3 class="text-heading-3 text-heading-3__light">C-Project Planning</h3>
                      <h4 class="text-heading-4 text-heading-4__light">Sub Phase</h4>
                    <ul class="divider">
                        <li><a href="#" target="_blank">Deliverable</a></li>
                    </ul> -->
                    <h2 class="text-heading-2 text-heading-2__light">Phase 2 - Design</h2>
                    <section class="divider">
                        <h3 class="text-heading-3 text-heading-3__light">A-Technical</h3>
                        <h4 class="text-heading-4 text-heading-4__light"> </h4>
                        <ul class="unordered-list-default">
                            <!--      <li><a href="#" target="_blank">Site Diagram</a></li>
                                <li><a href="#" target="_blank">Architecture Design</a></li>
                                <li><a href="#" target="_blank">Use Case</a></li>
                                <li><a href="#" target="_blank">Prototype</a></li>
                                <li><a href="#" target="_blank">Functional Specification Document</a></li> -->
                            <li>Site Diagram</li>
                            <li>Architecture Design</a>
                            </li>
                            <li>Use Case</li>
                            <li>Prototype</li>
                            <li>Functional Specification Document</li>
                        </ul>
                        <h3 class="text-heading-3 text-heading-3__light">B-Creative</h3>
                        <h4 class="text-heading-4 text-heading-4__light"> </h4>
                        <ul class="unordered-list-default">
                            <!--                         <li><a href="#" target="_blank">Story Board</a></li>
                                <li><a href="#" target="_blank">Moodboard</a></li>
                                <li><a href="#" target="_blank">Wireframes</a></li>
                                <li><a href="#" target="_blank">Prototype</a></li>
                                <li><a href="#" target="_blank">Comps (3 rounds – 2 designers)</a></li>
                                <li><a href="#" target="_blank">A-B Testing</a></li> -->
                            <li>Story Board</li>
                            <li>Moodboard</li>
                            <li>Wireframes</li>
                            <li>Prototype</li>
                            <li>Comps (3 rounds – 2 designers)</li>
                            <li>A-B Testing</li>
                        </ul>

                    </section>

                    <h2 class="text-heading-2 text-heading-2__light divider">Phase 3 - Development</h2>

                    <h2 class="text-heading-2 text-heading-2__light divider">Phase 4 - Review</h2>

                    <h2 class="text-heading-2 text-heading-2__light divider">Phase 5 - Implementation</h2>

                </article>
            </section>
        </article>

    </section>
</div>