<div id="get-started">
    <section class="">
        <article class=" banner banner_position">
            <div class="banner_header banner__gen-bg">
                <div class="banner_box">
                    <button class="button banner_share sharethis-inline-share-buttons" onclick="sharethis()">
				    <span class="button_text">Share this Page</span>
				</button>
                    <div class="popover_wrap">
                        <div id="popover" class="popover popover_box flag__top-right banner_sharethis-modal theme_white">
                            <div class="popover_dialog">
                                <button class="popover_close" data-dismiss="modal" aria-hidden="true"></button>
                                <div class="popover_content">
                                    <div class="popover_body ">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="banner_title">
                        <a class="banner_link">How to Get Started</a>
                    </h1>
                    <p class="banner_description text-body__normal">The road to keep our team unified under one consistent user experience</p>
                </div>
            </div>
        </article>
    </section>
    <section class="content-block">
        <article class="theme_white ">
            <section class="row-large margin-stack_l">
                <article class="col col-dsm-6">
                    <p class="text-body text-body__light margin_body ">We created Onyx to provide straightforward resources, code examples and visual inspiration to start designing
                        and building systematically following unique principles, so you have more time to enjoy the creative
                        process and concentrate  in what really matters: find the right solution to your customer needs and
                        share them with the rest of the team.</p>
                </article>
                <article class="col col-mxs-12 col-dsm-6 center">
                    <img class="single-img" src="assets/image/get-started.svg">
                </article>
            </section>
        </article>
        <article class="theme_white">
            <section class="row-large">
                <article class="card col col-dsm-4 margin-stack_l">
                    <h2 class="card_header">If You Are a Designer</h2>
                    <p class="text-body text-body__light margin-stack_l">Explore our Design guidelines to understand our Visual Design Guidelines, Design Principles and our always
                        growing Accessibility suggestions. Also check our design kit that you need to start your design process.</p>
                    <button class="button button_text-link button_disabled" style="display: none"><span class="button__left lnr lnr-download2"></span><span class="button_text">UI Template (PSD - 3.1 MB)</span></button>
                </article>
                <article class="card col col-dsm-4 margin-stack_l">
                    <h2 class="card_header">If You Are a Developer</h2>
                    <p class="text-body text-body__light margin-stack_l">Having this one spot- product as the only source of truth helps designers and developers teams to spend
                        less time in how a site needs to look like to focus more on its functionality.</p>
                    <button class="button button_text-link"><span class="button__left lnr lnr-download2"></span><span class="button_text">Web Kit (7.6 MB)</span></button>
                </article>
                <article class="card col col-dsm-4 margin-stack_l">
                    <h2 class="card_header">If You Are a Project Manager</h2>
                    <p class="text-body text-body__light margin-stack_l">Our process evolves in a continuun pattern and in order for you to easily keep track of each project
                        steps we divided our process into five phases, each with specific deliverables</p>
                    <button class="button button_text-link button_disabled " style="display: none"><span class="button__left lnr lnr-download2"></span><span class="button_text">See all our deliverables.</span></button>
                </article>
            </section>
        </article>
    </section>
    <div class="theme_whitesmoke">
        <section class="content-block">
            <article class="row-large">
                <div class="col col-msm-12 col-dsm-12">
                    <h2 class="text-heading-2 text-heading-2__normal margin_header-l">Questions or Suggestions</h2>
                </div>
                <article class="col col-dsm-6 margin-stack_l">
                    <p class="text-body text-body__light">Onyx improves with your feedback so do not hesitate in telling us what are you design or development
                        resources needs</p>
                </article>

                <div class="col col-dsm-6" id="dvForm">
                  
                </div>
            </article>
        </section>
    </div>
</div>